<script>
const charSkin = "{{sess.char.charSkin}}"
const charName = "{{sess.char.charName}}"
</script>
<div>
  <script src="main.js"></script> 
</div><br>
<div class="ingameMenu">
<a href="/charSelect"><button>Char Select</button></a>
<a href="/exit"><button>Exit</button></a>
<p> Arrows for move, <br> Space for shoot</p>
</div>
