<div id="login">
  <form action="/registration" method="post">
    <label for="loginField">Login</label>
    <input type="text" name="loginField"> <br>
    <label for="passwordField">Password</label>
    <input type="password" name="passwordField" id=""> <br>
    <button>Submit</button>
  </form>
</div>
